body{
    background-color: rgb(229, 226, 226);
}
.fa{
    color: skyblue;
}
.box-inside{
    background-color: white;
    padding: 60px 5px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 2px;
}
a{
    border-bottom: 1px solid blue;
}
span{
    font-size: 15px;
}
.box{
    padding: 60px;
}
.content{
    margin: 20px 0px;
}
